MONGODB_URI=mongodb://localhost:27017/it-assets?replicaSet=rs0

#Fallback admin account in case no user yet
USERNAME=
PASSWORD=

#JWT Authentication
JWT_SECRET=2d04c03a88a359f9b5fb5e005c5b12c866e7439d009e32b6f8776871ab39962b
JWT_EXPIRIES_IN=7d